@font-face {
    font-family: 'TimesNewRomance';
    src: url('../fonts/TimesNewRomance.woff') format('woff'),
        url('../fonts/TimesNewRomance.otf') format('opentype'),
        url('../fonts/TimesNewRomance.ttf') format('truetype');
    /* Agrega m치s formatos si lo deseas */
    /* Puedes especificar m치s estilos y pesos si la fuente los tiene */
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --imperial-red: #FB3640;
    --polynesian-blue: #1F487E;
    --asparagus: #69995D;
    --carolina-blue: #84ACCE;
    --sunglow: #FFC857;
    --margin-sidebar: 88px;
    --size-icon: 1.2rem;
    --header-height: 3rem;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    transition: .5s;
    padding-left: calc(var(--margin-sidebar) + 2rem);
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--polynesian-blue);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body {
    /*Estilos est치ndar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

a {
    text-decoration: none;
}

.body-pd {
    padding-left: calc(var(--margin-sidebar) + 188px) !important;
}

.header_sidebar {
    width: 100%;
    height: calc(var(--header-height) + 1rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--polynesian-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 calc(var(--margin-sidebar) + 2rem);
    transition: .5s;
}

.header_toggle i {
    color: var(--sunglow);
    font-size: var(--size-icon);
    cursor: pointer;
}

.header_options {
    display: flex;
    align-items: center;
    color: var(--sunglow);
    gap: 20px;
}

.option_notification {
    position: relative;
    font-size: var(--size-icon);
    cursor: pointer;
}

.option_input .input_search {
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--sunglow);
    color: var(--sunglow);
    padding: 2px;
}

.option_search {
    font-size: var(--size-icon);
    cursor: pointer;
}

.option_notification .notification_number {
    position: absolute;
    right: -7px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--sunglow);
    color: var(--polynesian-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.option_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_profile .profile_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.option_profile .profile_data {
    font-family: 'TimesNewRomance';
}

.profile_data .data_name {
    font-weight: 800;
}

.profile_data .data_role {
    font-weight: 100;
}

.section_options {
    padding: 0.7rem 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    justify-content: space-evenly;
}

.section_options a {
    color: var(--sunglow);
    font-size: var(--size-icon);
    font-family: 'TimesNewRomance';
    overflow: hidden;
}

.section_sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--polynesian-blue);
    width: var(--margin-sidebar);
    transition: .5s;
}

.section_sidebar-show {
    width: calc(var(--margin-sidebar) + 156px);
}

.section_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
}

.section_logo img {
    width: 40px;
    height: 40px;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1.5rem;
    padding: 0.6rem 0.5rem 0.6rem 1.1rem;
}

.link_active {
    background-color: #FFFFFF;
    color: var(--polynesian-blue) !important;
    border-radius: 1rem;
}

.body_sidebar {
    margin-top: 90px;
}

.reports_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report_body {
    background-color: var(--carolina-blue);
    border-radius: 15px;
    padding: 10px 25px;
    text-align: center;
    font-family: 'TimesNewRomance';
    color: var(--polynesian-blue);
}

.report_icon img {
    width: 80%;
}

.repors_details {
    height: 400px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.details_chart {
    border: 1px solid var(--polynesian-blue);
    border-radius: 20px;
    padding: 0 10px;
}

.details_container-table {
    background-color: var(--carolina-blue);
    border-radius: 20px;
    padding: 25px 20px;
    height: 400px;
}

.table_title span {
    color: var(--polynesian-blue);
    font-family: 'TimesNewRomance';
    font-size: 1.2rem;
}

.container_table {
    height: 320px;
    margin: 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid var(--polynesian-blue);
    color: var(--polynesian-blue);
    font-family: 'TimesNewRomance';
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container_table::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container_table::-webkit-scrollbar:vertical {
    width: 10px;
}

.container_table::-webkit-scrollbar-button:increment,
.container_table::-webkit-scrollbar-button {
    display: none;
}

.container_table::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container_table::-webkit-scrollbar-thumb {
    background-color: var(--polynesian-blue);
    border-radius: 20px;
}

.container_table::-webkit-scrollbar-track {
    border-radius: 10px;
}

.container_table {
    /*Estilos est치ndar experimentales (Principalmente Firefox)*/
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

.table_content {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    text-align: center;
    overflow: hidden;
}

.table_content th {
    border-bottom: 1px solid var(--polynesian-blue);
    font-weight: 800;
}

.table_content th,
.table_content td {
    padding: 10px 0;
    border-bottom: 1px solid var(--polynesian-blue);
    border-right: 1px solid var(--polynesian-blue);
}

.table_stock span {
    /* background-color: var(--imperial-red); */
    background-color: var(--asparagus);
    padding: 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 0.8rem;
}

.button {
    cursor: pointer;
    background-color: var(--carolina-blue);
    color: var(--polynesian-blue);
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    font-weight: 700;
}

.button i {
    font-size: 1.1rem;
    font-weight: 800;
}

.content_filters {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter_name {
    justify-content: end;
}

.filter_time {
    justify-content: center;
}

.filter input,
.filter select {
    padding: 3px;
    border-radius: 6px;
    outline: none;
    border: 1px solid var(--polynesian-blue);
}

.filter_name input,
.filter_date input,
.filter select {
    padding: 5px;
}

.filter_name input,
.filter_name-input {
    width: 100%;
}

.container_pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;

}

.pagination_number {
    margin: 0 10px;
}

.filter_category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter_category-from {
    width: 100%;
}

.filter_category select {
    width: 100%;

}

.btn_green {
    background-color: var(--asparagus);
}

.btn_red {
    background-color: var(--imperial-red);
}

.btn_yellow {
    background-color: var(--sunglow);
}

.filter_category select {
    width: 90%;
}

.table_auto {
    height: auto;
    min-height: 400px;
}

.btn_action {
    padding: 5px;
    border-radius: 8px;
}

.btn_action i {
    font-size: 1rem;
}

.fa-arrow-up {
    color: var(--asparagus);
}

.company_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company_header-title span{
    font-family: 'TimesNewRomance';
    font-weight: 800;
    font-size: 1.8rem;
}

.company_logo{
    display: flex;
    margin: 10px 0;
    gap: 20px;
}

.logo_company-title span{
    font-family: 'TimesNewRomance';
    font-weight: 800;
    font-size: 1.1rem;
}

.logo_company-img{
    width: 80px;
    height: 80px;
    border: 1px solid var(--polynesian-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo_company02 .logo_company-img,
.logo_company02 .select_img{
    width: 150px;
    border-radius: 10px;
}

.select_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.select_img label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_img input{
    display: none;
}

.company_data{
    margin: 20px 0;
}

.company_data .input,
.company_redes .input{
    width: 70%;
}

.input{
    padding: 4px 8px;
    border-radius: 7px;
    border: 1px solid var(--polynesian-blue);
    outline: 1px solid var(--polynesian-blue);
    font-family: 'TimesNewRomance';
}

.input_grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.input_data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'TimesNewRomance';
}

.redes_title{
    font-family: 'TimesNewRomance';
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.button_edit{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}